@model Ingredient
@{
    ViewData["Title"] = "Ingredient details";
    Ingredient i = Model;
}

<div class="text-center">    
    <h1 class="display-4">Ingredient details</h1>

    @if(ViewBag.msg is not null) {

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @ViewBag.msg
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <section>
       
        <article class="text-start">
            <h4>@i.Name</h4>
            <p>@i.Description</p>

            <b>In @Translate.Units(i.Unit)</b><br>
            @if(@i.Calories is not null) { <text>Energy: @i.Calories kcal<br></text>; } 
            @if(@i.Fats is not null) { <text>Fats: @i.Fats g<br></text>; }
            @if(@i.Carbs is not null) { <text>Carbs: @i.Carbs g<br></text>; }
            @if(@i.Proteins is not null) { <text>Proteins: @i.Proteins g<br></text>; }
            @if(@i.Fiber is not null) { <text>Fiber: @i.Fiber g<br></text>; }
            @if(@i.Salt is not null ) { <text>Salt: @i.Salt g<br></text>; }

            @if(User.IsInRole("admin")) {
                <a asp-controller="Ingredient" asp-action="Edit" asp-route-id="@i.Id">Edit</a> <text> | </text>
                <a asp-controller="Ingredient" asp-action="Delete" asp-route-id="@i.Id">Delete</a> 
            }
        </article>


    </section>
</div>